<template>
 <div>
  <div v-for="(option, index) in options">
   <div class="row">
   			<span style="width:25px; margin-top: 5px">
   				<label v-if="option.connector!='none'">{{ option.connector }}</label>
   			</span>
	        <multiselect 
	          selectLabel=''
	          deselectLabel=''
	          selectedLabel=''
	          :allowEmpty=false
	          :options="types"
	          label="label"
	          placeholder="Types" 
	          class="col-md-2"
	          v-model="option.type"
	          @input="clearOption(index)"
	          >
	        </multiselect>
	        <span v-if="option.type!=''" class="col-md-5">
	        	<div class="autocomplete">
				  <input v-if="option.type.value=='Token'" class="form-control" v-model="option.value"
	                  type="text" placeholder="Keyword" v-click-outside="onClickOutside" @input="editToken(index)"></input>
	              <input v-if="option.type.value=='Lemma'" class="form-control" v-model="option.value"
	                  type="text" placeholder="Keyword" v-click-outside="onClickOutside" @input="editLemma(index)"></input>
				  <ul v-show="searching[index]" class="autocomplete-results">
				    <li
				      v-for="(el, i) in search"
				      :key="i"
				      @click="setResult(el, index)"
				      class="autocomplete-result"
				    >
				      {{ el }}
				    </li>
				  </ul>
				</div>
		        
	            <multiselect 
	              v-if="option.type.value=='Tag'"
	              class="col-md-3 inline pull-left"
		          selectLabel=''
		          deselectLabel=''
		          selectedLabel=''
		          :allowEmpty=false
		          :options="pos_cats"
		          label="label"
		          placeholder="Tags" 
		          v-model="option.pos_cat"
		          >
		        </multiselect>
		        <multiselect 
	              v-if="option.type.value=='DEP'"
		          selectLabel=''
		          deselectLabel=''
		          selectedLabel=''
		          :allowEmpty=false
		          :options="dep_types"
		          label="label"
		          placeholder="Dependencies"
		          v-model="option.value"
		          >
		        </multiselect>
		        <multiselect 
	              v-if="option.pos_cat!=''"
	              class="col-md-6 inline"
		          selectLabel=''
		          deselectLabel=''
		          selectedLabel=''
		          :allowEmpty=false
		          :options="option.pos_cat.value"
		          label="label"
		          placeholder="Tags" 
		          v-model="option.value"
		          >
		        </multiselect>
	        </span>
	        <button v-if="index!=0" class="col-md-2 btn btn-warning input" @click="cancel(index)">Cancel</button>
	        <button v-if="index==options.length-1" class="col-md-2 btn btn-success" @click="query">Search</button>
   </div>
   <div v-if="option.type.value=='Token'" v-for="(filter, i) in option.word">
   	<br/>
	   	<div class="row">
		   	<multiselect 
			          selectLabel=''
			          deselectLabel=''
			          selectedLabel=''
			          :allowEmpty=false
			          :options="types2"
			          label="label"
			          placeholder="Types" 
			          class="col-md-2 indent"
			          v-model="filter.type"
			          @input="clearFilter(index,i)"
			          >
			</multiselect>
			<span v-if="filter.type!=''" class="col-md-5">
				<multiselect 
	              v-if="filter.type.value=='Tag'"
	              class="col-md-3 inline pull-left"
		          selectLabel=''
		          deselectLabel=''
		          selectedLabel=''
		          :allowEmpty=false
		          :options="pos_cats"
		          label="label"
		          placeholder="Tags" 
		          v-model="filter.pos_cat"
		          >
		        </multiselect>
		        <multiselect 
	              v-if="filter.type.value=='DEP'"
		          selectLabel=''
		          deselectLabel=''
		          selectedLabel=''
		          :allowEmpty=false
		          :options="dep_types"
		          label="label"
		          placeholder="Dependencies"
		          v-model="filter.value"
		          >
		        </multiselect>
		        <multiselect 
	              v-if="filter.pos_cat!=''"
	              class="col-md-6 inline"
		          selectLabel=''
		          deselectLabel=''
		          selectedLabel=''
		          :allowEmpty=false
		          :options="filter.pos_cat.value"
		          label="label"
		          placeholder="Tags" 
		          v-model="filter.value"
		          >
		        </multiselect>
	        </span>
	        <button v-if="i!=0" class="btn btn-warning input" @click="cancelFilter(index, i)">Cancel</button>
	        <button v-if="i==option.word.length-1" class="btn btn-primary" @click="addFilter(index)">Add</button>
		</div>
	</div>
   <br/>
  </div>
  <div>
  	<button class="col-md-2 btn btn-primary pull-left input" @click="addAnd">Add And</button>
   	<button class="col-md-2 btn btn-primary pull-left" @click="addOr">Add Or</button>
   	<button :disabled="!hasPrevPage" :class="{'disabled': !hasPrevPage}" class="page btn btn-success pull-right" @click="prevPage"><icon class="page-icon" name="arrow-left"></icon></button>
	<button :disabled="!hasNextPage" :class="{'disabled': !hasNextPage}" class="page btn btn-success pull-right" @click="nextPage"><icon class="page-icon" name="arrow-right"></icon></button>
  </div>
  <br/><br/><br/>
  <h3>{{ currentView }}</h3>
  <br/>
  <div v-for="(result, key) in results">
  	<label :ref="key+'-label'" class='question-row' :for="key" v-on:click="toggleClass(key)">
	  	<b-form-checkbox :id="key"
	  					 v-model="selected[key]">
	    </b-form-checkbox>
	    {{ result }}
	</label>
  </div>
 </div>
</template>

<!-- source venv/bin/activate
FLASK_APP=main.py FLASK_DEBUG=1 flask run
	npm run dev
https://codeburst.io/full-stack-single-page-application-with-vue-js-and-flask-b1e036315532
 -->

<script>
import Vue from 'vue'
import axios from 'axios'
import Multiselect from 'vue-multiselect'
import bFormCheckbox from 'bootstrap-vue/es/components/form-checkbox/form-checkbox'
import OptionsJson from './json/options.json'
import Icon from 'vue-awesome/components/Icon'

export default {
  components: {
    Multiselect,
    'b-form-checkbox': bFormCheckbox,
    'icon': Icon
  },
  data () {
    return {
      currentView: "",
      domain: "",
      options: [{
      	"connector": "none",
      	"type": "",
      	"value": "",
      	"pos_cat": "",
      	"word": [
	      	{
	      		"type": "",
	      		"value": "",
	      		"pos_cat": ""
	      	}
      	]
      }],
      hasNextPage: false,
      hasPrevPage: false,
      page: 0,
      results: {},
      search: {},
      searching: [false],
      selected: {},
      showAmount: 50,
      statement: "",
      types: [
		      	{
		      		"label": "Word", 
		      		"value": "Token"
		      	},
		      	{
		      		"label": "Original Form",
		      		"value": "Lemma"
		      	},
		      	{
		      		"label": "Part-of-speech Tag",
		      		"value": "Tag"
		      	},
		      	{
		      		"label": "Dependencies",
		      		"value": "DEP"
		      	}
		      ],
	  types2: [
		      	{
		      		"label": "Part-of-speech Tag",
		      		"value": "Tag"
		      	},
		      	{
		      		"label": "Dependencies",
		      		"value": "DEP"
		      	}
		      ],
	  pos_cats: [
	  			{
		      		"label": "Adjective", 
		      		"value": [
						  		{
						      		"label": 'Affix', 
						      		"value": 'AFX'
							    },
							    {
						      		"label": 'Adjective', 
						      		"value": 'JJ'
						      	},
						      	{
						      		"label": 'Adjective, Comparative', 
						      		"value": 'JJR'
						      	},
						      	{
						      		"label": 'Adjective, Superlative', 
						      		"value": 'JJS'
						      	},
						      	{
						      		"label": 'Adjective, Superlative', 
						      		"value": 'JJS'
						      	},
						      	{
						      		"label": 'Predeterminer', 
						      		"value": 'PDT'
						      	},
						      	{
						      		"label": 'Pronoun, Possessive', 
						      		"value": 'PRP$'
						      	},
						      	{
						      		"label": 'Interjection', 
						      		"value": 'UH'
						      	},
						      	{
						      		"label": 'wh-determiner', 
						      		"value": 'WDT'
						      	},
						      	{
						      		"label": 'wh-pronoun, Possessive', 
						      		"value": 'WP$'
						      	},
						  	   ],
		      	},
		      	{
		      		"label": "Adverb", 
		      		"value": [
					  			{
						      		"label": 'Existential there', 
						      		"value": 'EX'
						      	},
						      	{
						      		"label": 'Adverb', 
						      		"value": 'RB'
						      	},
						      	{
						      		"label": 'Adverb, Comparative', 
						      		"value": 'RBR'
						      	},
						      	{
						      		"label": 'Adverb, Superlative', 
						      		"value": 'RBS'
						      	},
						      	{
						      		"label": 'Adverb, Particle', 
						      		"value": 'RP'
						      	},
						      	{
						      		"label": 'wh-adverb', 
						      		"value": 'WRB'
						      	},
					  	   ],
		      	},
		      	{
		      		"label": "Noun", 
		      		"value": [
					  			{
						      		"label": 'Noun, Singular or Mass', 
						      		"value": 'NN'
						      	},
						      	{
						      		"label": 'Noun, Proper Singular', 
						      		"value": 'NNP'
						      	},
						      	{
						      		"label": 'Noun, Proper Plural', 
						      		"value": 'NNPS'
						      	},
						      	{
						      		"label": 'Noun, Plural', 
						      		"value": 'NNS'
						      	},
						      	{
						      		"label": 'wh-pronoun, Personal', 
						      		"value": 'WP'
						      	},
					  		],
		      	},
		      	{
		      		"label": "Verb", 
		      		"value": [
					  			{
						      		"label": 'Auxiliary "be"', 
						      		"value": 'BES'
						      	},
						      	{
						      		"label": 'Forms of "have"', 
						      		"value": 'HVS'
						      	},
						      	{
						      		"label": 'Verb, Modal Auxiliary', 
						      		"value": 'MD'
						      	},
						      	{
						      		"label": 'Verb, Base Form', 
						      		"value": 'VB'
						      	},
						      	{
						      		"label": 'Verb, Past Tense', 
						      		"value": 'VBD'
						      	},
						      	{
						      		"label": 'Verb, Gerund or Present Participle', 
						      		"value": 'VBG'
						      	},
						      	{
						      		"label": 'Verb, Past Participle', 
						      		"value": 'VBN'
						      	},
						      	{
						      		"label": 'Verb, Non-3rd Person Singular Present', 
						      		"value": 'VBP'
						      	},
						      	{
						      		"label": 'Verb, 3rd Person Singular Present', 
						      		"value": 'VBZ'
						      	},
					  		],
		      	},	
	  			{
		      		"label": "Punctuation", 
		      		"value": [
					  			{
						      		"label": "Left round bracket", 
						      		"value": "-LRB-"
						      	},
						      	{
						      		"label": "Right round bracket", 
						      		"value": "-RRB-"
						      	},
						      	{
						      		"label": "Comma", 
						      		"value": ","
						      	},
						      	{
						      		"label": "Colon or Ellipsis", 
						      		"value": ":"
						      	},
						      	{
						      		"label": "Sentence closer", 
						      		"value": "."
						      	},
						      	{
						      		"label": "Closing quotation mark ('')", 
						      		"value": "''"
						      	},
						      	{
						      		"label": 'Closing quotation mark ("")', 
						      		"value": '""'
						      	},
						      	{
						      		"label": 'Number sign', 
						      		"value": '#'
						      	},
						      	{
						      		"label": 'Opening quotation mark', 
						      		"value": '``'
						      	},
						      	{
						      		"label": 'Currency', 
						      		"value": '$'
						      	},
						      	{
						      		"label": 'Hyphen', 
						      		"value": 'HYPH'
						      	},
						      	{
						      		"label": 'List Item Marker', 
						      		"value": 'LS'
						      	},
						      	{
						      		"label": 'Superfluous Punctuation', 
						      		"value": 'NFP'
						      	},
						      	{
						      		"label": 'Symbol', 
						      		"value": 'SYM'
						      	},
					  		 ],
		      	},
		      	{
		      		"label": "Misc.", 
		      		"value": [
					  			{
						      		"label": 'Email', 
						      		"value": 'ADD'
						      	},
						      	{
						      		"label": 'Conjunction, coordinating', 
						      		"value": 'CC'
						      	},
						      	{
						      		"label": 'Cardinal number', 
						      		"value": 'CD'
						      	},
						      	{
						      		"label": 'Determiner', 
						      		"value": 'DT'
						      	},
						      	{
						      		"label": 'Foreign word', 
						      		"value": 'FW'
						      	},
						      	{
						      		"label": 'Additional word in multi-word expression', 
						      		"value": 'GW'
						      	},
						      	{
						      		"label": 'Conjunction, subordinating or preposition', 
						      		"value": 'IN'
						      	},
						      	{
						      		"label": 'Missing Tag', 
						      		"value": 'NIL'
						      	},
						      	{
						      		"label": 'Possessive Ending', 
						      		"value": 'POS'
						      	},
						      	{
						      		"label": 'Pronoun, Personal', 
						      		"value": 'PRP'
						      	},
						      	{
						      		"label": 'Space', 
						      		"value": '_SP'
						      	},
						      	{
						      		"label": 'Infinitival To', 
						      		"value": 'TO'
						      	},
						      	{
						      		"label": 'unknown', 
						      		"value": 'XX'
						      	}
					  		 ],
		      	}
	  			],
      dep_types: [
			      {
			      		"label": 'Adjectival Complement', 
			      		"value": 'acomp'
			      },
			      {
			      		"label": 'Adverbial Clause Modifier', 
			      		"value": 'advcl'
			      },
			      {
			      		"label": 'Adverbial Modifier', 
			      		"value": 'advmod'
			      },
			      {
			      		"label": 'Agent', 
			      		"value": 'agent'
			      },
			      {
			      		"label": 'Adjectival Modifier', 
			      		"value": 'amod'
			      },
			      {
			      		"label": 'Appositional Modifier', 
			      		"value": 'appos'
			      },
			      {
			      		"label": 'Attribute', 
			      		"value": 'attr'
			      },
			      {
			      		"label": 'Auxiliary', 
			      		"value": 'aux'
			      },
			      {
			      		"label": 'Auxiliary (Passive)', 
			      		"value": 'auxpass'
			      },
			      {
			      		"label": 'Coordinating Conjunction', 
			      		"value": 'cc'
			      },
			      {
			      		"label": 'Clausal Complement', 
			      		"value": 'ccomp'
			      },
			      {
			      		"label": 'Complementizer', 
			      		"value": 'complm'
			      },
			      {
			      		"label": 'Conjunct', 
			      		"value": 'conj'
			      },
			      {
			      		"label": 'Copula', 
			      		"value": 'cop'
			      },
			      {
			      		"label": 'Clausal Subject', 
			      		"value": 'csubj'
			      },
			      {
			      		"label": 'Clausal Subject (Passive)', 
			      		"value": 'csubjpass'
			      },
			      {
			      		"label": 'Unclassified Dependent', 
			      		"value": 'dep'
			      },
			      {
			      		"label": 'Determiner', 
			      		"value": 'det'
			      },
			      {
			      		"label": 'Direct Object', 
			      		"value": 'dobj'
			      },
			      {
			      		"label": 'Expletive', 
			      		"value": 'expl'
			      },
			      {
			      		"label": 'Modifier in Hyphenation', 
			      		"value": 'hmod'
			      },
			      {
			      		"label": 'Hyphen', 
			      		"value": 'hyph'
			      },
			      {
			      		"label": 'Infinitival Modifier', 
			      		"value": 'infmod'
			      },
			      {
			      		"label": 'Interjection', 
			      		"value": 'intj'
			      },
			      {
			      		"label": 'Indirect Object', 
			      		"value": 'iobj'
			      },
			      {
			      		"label": 'Marker', 
			      		"value": 'mark'
			      },
			      {
			      		"label": 'Meta Modifier', 
			      		"value": 'meta'
			      },
			      {
			      		"label": 'Negation Modifier', 
			      		"value": 'neg'
			      },
			      {
			      		"label": 'Modifier of Nominal', 
			      		"value": 'nmod'
			      },
			      {
			      		"label": 'Noun Compound Modifier', 
			      		"value": 'nn'
			      },
			      {
			      		"label": 'Noun Phrase as Adverbial Modifier', 
			      		"value": 'npadvmod'
			      },
			      {
			      		"label": 'Nominal Subject', 
			      		"value": 'nsubj'
			      },
			      {
			      		"label": 'Nominal Subject (Passive)', 
			      		"value": 'nsubjpass'
			      },
			      {
			      		"label": 'Number Modifier', 
			      		"value": 'num'
			      },
			      {
			      		"label": 'Number Compound Modifier', 
			      		"value": 'number'
			      },
			      {
			      		"label": 'Object Predicate', 
			      		"value": 'oprd'
			      },
			      {
			      		"label": 'Object', 
			      		"value": 'obj'
			      },
			      {
			      		"label": 'Oblique Nominal', 
			      		"value": 'obl'
			      },
			      {
			      		"label": 'Parataxis', 
			      		"value": 'parataxis'
			      },
			      {
			      		"label": 'Participal Modifier', 
			      		"value": 'partmod'
			      },
			      {
			      		"label": 'Complement of Preposition', 
			      		"value": 'pcomp'
			      },
			      {
			      		"label": 'Object of Preposition', 
			      		"value": 'pobj'
			      },
			      {
			      		"label": 'Possession Modifier', 
			      		"value": 'poss'
			      },
			      {
			      		"label": 'Possessive Modifier', 
			      		"value": 'possessive'
			      },
			      {
			      		"label": 'Pre-correlative Conjunction', 
			      		"value": 'preconj'
			      },
			      {
			      		"label": 'Prepositional Modifier', 
			      		"value": 'prep'
			      },
			      {
			      		"label": 'Particle', 
			      		"value": 'prt'
			      },
			      {
			      		"label": 'Punctuation', 
			      		"value": 'punct'
			      },
			      {
			      		"label": 'Modifier of Quantifier', 
			      		"value": 'quantmod'
			      },
			      {
			      		"label": 'Relative Clause Modifier', 
			      		"value": 'rcmod'
			      },
			      {
			      		"label": 'Root', 
			      		"value": 'root'
			      },
			      {
			      		"label": 'Open Clausal Complement', 
			      		"value": 'xcomp'
			      },
		      ]
    }
  },
  methods: {
  	addAnd () {
  		var newOption = JSON.parse(JSON.stringify(OptionsJson))
  		newOption.connector = "and"
  		this.options.push(newOption)
  		this.searching.push(false)
  	},
  	addOr () {
  		var newOption = JSON.parse(JSON.stringify(OptionsJson))
  		newOption.connector = "or"
  		this.options.push(newOption)
  		this.searching.push(false)
  	},
  	addFilter (index) {
  		var newFilter = JSON.parse(JSON.stringify(OptionsJson.word[0]))
  		this.options[index].word.push(newFilter)
  	},
  	clearOption(index) {
  		var newFilter = JSON.parse(JSON.stringify(OptionsJson.word))
  		this.options[index].value = ""
  		this.options[index].pos_cat = ""
  		this.options[index].word = newFilter
  	},
  	clearFilter(index, i) {
  		this.options[index].word[i].value = ""
  		this.options[index].word[i].pos_cat = ""
  	},
  	cancel (index) {
  		this.options.splice(index,1)
  		this.options[0].connector = "none"
  	},
  	cancelFilter (index, i){
  		this.options[index].word.splice(i,1)
  	},
    query () {
    	this.results = {}
    	this.statement = ""
    	console.log(this.options)
    	for(var i=0;i<this.options.length;i++){
    		if(this.options.length!=1 && this.options[i].value == ""){
    			this.options.splice(i,1)
    			this.options[0].connector = "none"
    		}
    		for(var j=0;j<this.options[i].word.length;j++){
    			if(this.options[i].word[j].value == ""){
    				console.log("HERE")
    				this.options[i].word.splice(j,1)
    			}
    		}
    	}
    	if(this.options.length>1){
    		this.currentView = this.options[1].connector + " " + this.options[1].type.label + " : "
			this.statement = '{"$'+this.options[1].connector+'":[{"Tokenization":{"$elemMatch":{"'+this.options[1].type.value+'":"'
			if(typeof this.options[1].value == "object"){
				this.currentView += this.options[1].value.label
				this.statement += this.options[1].value.value + '"}}},{"Tokenization":{"$elemMatch":{"'+this.options[0].type.value+'":"'
			}
			else{
				this.currentView += this.options[1].value
				this.statement += this.options[1].value + '"'
				if(this.options[1].word.length>0){
					for(var i=0;i<this.options[1].word.length;i++){
						this.currentView += ", " + this.options[1].word[i].type.label + " : " + this.options[1].word[i].value.label
						this.statement += ', "' + this.options[1].word[i].type.value + '":"' + this.options[1].word[i].value.value + '"'
					}
				}
				this.statement += '}}},{"Tokenization":{"$elemMatch":{"'+this.options[0].type.value+'":"'
			}
			if(typeof this.options[0].value == "object"){
				this.currentView = this.options[0].type.label + " : " + this.options[0].value.label + " " + this.currentView
				this.statement += this.options[0].value.value + '"}}}]}'
			}
			else{
				var temp = this.options[0].type.label + " : " + this.options[0].value
				this.statement += this.options[0].value + '"'
				if(this.options[0].word.length>0){
					for(var i=0;i<this.options[0].word.length;i++){
						temp += ", " + this.options[0].word[i].type.label + " : " + this.options[0].word[i].value.label
						this.statement += ', "' + this.options[0].word[i].type.value + '":"' + this.options[0].word[i].value.value + '"'
					}
				}
				this.currentView = temp + " " + this.currentView
				this.statement += '}}}]}'
			}
			if(this.options.length>2){
				for(var i=2;i<this.options.length;i++){
					var current = '{"$'+this.options[i].connector+'":[{"Tokenization":{"$elemMatch":{"'+this.options[i].type.value+'":"'
					if(typeof this.options[i].value == "object"){
						this.currentView += " " + this.options[i].connector + " " + this.options[i].type.label + " : " + this.options[i].value.label
						this.statement = current + this.options[i].value.value + '"}}},' + this.statement + ']}'
					}
					else{
						this.currentView += " " + this.options[i].connector + " " + this.options[i].type.label + " : " + this.options[i].value
						current += this.options[i].value + '"'
						if(this.options[i].word.length>0){
							for(var j=0;j<this.options[i].word.length;j++){
								this.currentView += ", " + this.options[i].word[j].type.label + " : " + this.options[i].word[j].value.label
								current += ', "' + this.options[i].word[j].type.value + '":"' + this.options[i].word[j].value.value + '"'
							}
						}
						this.statement = current + '}}},' + this.statement + ']}'
					}
				}
			}
		}
		else{
			this.currentView = this.options[0].type.label + " : "
			this.statement = '{"Tokenization":{"$elemMatch":{"'+this.options[0].type.value+'":"'
			if(typeof this.options[0].value == "object"){
				this.currentView += this.options[0].value.label
				this.statement += this.options[0].value.value + '"}}}'
			}
			else{
				this.currentView += this.options[0].value
				this.statement += this.options[0].value + '"'
				if(this.options[0].word.length>0){
					for(var i=0;i<this.options[0].word.length;i++){
						this.currentView += ", " + this.options[0].word[i].type.label + " : " + this.options[0].word[i].value.label
						this.statement += ', "' + this.options[0].word[i].type.value + '":"' + this.options[0].word[i].value.value + '"'
					}
				}
				this.statement += '}}}'
			}
		}
		console.log(this.statement)
	    const path = this.domain + `api/query?skip=0&statement=` + this.statement
	    axios.get(path)
	    .then(response => {
	      this.results = response.data
	      if(Object.keys(this.results).length == this.showAmount){
	      	this.hasNextPage = true
	      }
	      else{
	      	this.hasNextPage = false
	      }
	      this.hasPrevPage = false
	      this.selected = {}
	      for(var key in this.results) {
	      	this.selected[key] = false
	      }
	      console.log(this.results)
	      console.log(this.selected)
	      var newOptions = JSON.parse(JSON.stringify(OptionsJson))
	      this.options = [newOptions]
	    })
	    .catch(error => {
	      console.log(error)
	    })
	},
	toggleClass (el) {
		if(this.selected[el] == false){
			this.$refs[el+'-label'][0].classList.add("question-row-border");
		}
		else {
			this.$refs[el+'-label'][0].classList.remove("question-row-border");
		}
	},
	editToken (index){
		var value = this.options[index].value
		this.onClickOutside()
		if(value == ""){
			return
		}
		this.searching[index] = true
		var query = '{"Tokenization.Token": {"$regex": "^' + value + '"}}'
		console.log(query)
		const path = this.domain + `api/search?type=Token&statement=` + query + `&value=` + value
		axios.get(path)
	    .then(response => {
	      this.search = response.data
	      console.log(this.search)
	    })
	    .catch(error => {
	      console.log(error)
	    })
	},
	editLemma (index){
		var value = this.options[index].value
		this.onClickOutside()
		if(value == ""){
			return
		}
		this.searching[index] = true
		var query = '{"Tokenization.Lemma": {"$regex": "^' + value + '"}}'
		console.log(query)
		const path = this.domain + `api/search?type=Lemma&statement=` + query + `&value=` + value
		axios.get(path)
	    .then(response => {
	      this.search = response.data
	      console.log(this.search)
	    })
	    .catch(error => {
	      console.log(error)
	    })
	},
	setResult(result, index) {
        this.options[index].value = result;
        this.onClickOutside()
        console.log(this.options)
    },
	onClickOutside(obj) {
		this.search = {}
		for(var i=0;i<this.searching.length;i++){
			this.searching[i] = false
		}
	},
	prevPage () {
		this.page -= 1
		const path = this.domain + `api/query?skip=`+this.page+`&statement=` + this.statement
	    axios.get(path)
	    .then(response => {
	      this.results = response.data
	      if(this.page == 0){
	      	this.hasPrevPage = false
	      }
	      else{
	      	this.hasPrevPage = true
	      }
	      this.hasNextPage = true
	      this.selected = {}
	      for(var key in this.results) {
	      	this.selected[key] = false
	      }
	      console.log(this.results)
	      console.log(this.selected)
	      var newOptions = JSON.parse(JSON.stringify(OptionsJson))
	      this.options = [newOptions]
	    })
	    .catch(error => {
	      console.log(error)
	    })
	},
	nextPage () {
		this.page += 1
		const path = this.domain + `api/query?skip=`+this.page+`&statement=` + this.statement
	    axios.get(path)
	    .then(response => {
	      this.results = response.data
	      if(Object.keys(this.results).length == this.showAmount){
	      	this.hasNextPage = true
	      }
	      else{
	      	this.hasNextPage = false
	      }
	      this.hasPrevPage = true
	      this.selected = {}
	      for(var key in this.results) {
	      	this.selected[key] = false
	      }
	      console.log(this.results)
	      console.log(this.selected)
	      var newOptions = JSON.parse(JSON.stringify(OptionsJson))
	      this.options = [newOptions]
	    })
	    .catch(error => {
	      console.log(error)
	    })
	}
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

