@import 'variables';
@import '../../../node_modules/bootstrap-vue/node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';

// Some quick styling to match the multiselct with Bootstrap.
#app .multiselect__tags {
  border: $input-btn-border-width solid $input-border-color;
}

#app .multiselect, .multiselect__input, .multiselect__single {
  font-size: 16px;
}

#app .multiselect--active .multiselect__tags {
  color: $input-color-focus;
  background-color: $input-bg-focus;
  border-color: $input-border-focus;
  outline: none;
  z-index: 10,
}

#app .multiselect__select {
  right: 16px;
}

#app .multiselect__content-wrapper {
  width: 86%;
}

.pull-left {
	float: left;
}

.input {
	margin-right: 15px;
}

.indent {
  margin-left: 100px;
}

.question-row {
      background-color: #eceeef;
      padding: 16px;
      border-radius: 8px;
      margin-bottom: 16px;
      width: 100%;
}

.question-row-border {
	border-color: #00cc66;
	border-style: solid;
	border-width: 2px;
}

.custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
}

.custom-control-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1rem;
    float: left;
}

.inline {
    display: inline-block;
}

.page {
    border: none; 
    outline: none;
    cursor: pointer; 
    height: 40px;
    margin-right: 5px;
}

.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.page-icon {
  margin-top: 5px;
}

.autocomplete {
  position: absolute;
  width: 90%;
}

.autocomplete-results {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  max-height: 120px;
  overflow: auto;
  background-color: white;
  border-radius: 8px;
  z-index: 99999;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #4AAE9B;
  color: white;
}